@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Poppins:wght@300;400;500;600;700;800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --color-primary: #2AAAE7;
    --color-primary-hover: #0D80BF;
    --color-dark: #171A21;
    --color-white: #F7F8F9;
    --color-gray1: #C2C9D1;
    --color-gray2: #848688;
    --color-gray3: #F3F3F3;
    --color-gray-border: #c4c4c4;
    --color-background: #E5EBEE;
    --color-danger: #E5415F;
    --color-danger-hover: #ac1c36;
    --color-success: #59B873;
    --color-shadow: rgba(0, 0, 0, 0.2);
    --color-shadow-input: rgba(33, 133, 247, 0.25);



    --card-border-radius: 8px;
    --border-radius-input: 4px;
    --border-radius-btn: 27px;

    --card-padding: 21px 46px;


    --box-shadow: 0 4px 4px var(--color-shadow);
    --box-shadow-input: 0 2px 2px var(--color-shadow-input);
}

/*----- dark theme variaveis --------*/
.dark-theme-variables {
    --color-primary: #0D80BF;
    --color-dark: #171A21;
    --color-white: #F7F8F9;
    --color-gray1: #C2C9D1;
    --color-gray2: #C2C9D1;
    --color-background: #E5EBEE;

}


/*----- definições gerais --------*/
* {
    margin: 0;
    padding: 0;
    outline: 0;
    appearance: none;
    border: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    overflow-x: hidden;
    max-width: 100%;
}

h1 {
    font-size: 20px;
    font-weight: 800;
    color: var(--color-dark);
}

h2 {
    font-size: 14px;
    font-weight: 600;
}

h3 {
    font-size: 14px;
    font-weight: 600;
}

h4 {
    font-size: 14px;
    font-weight: 500;
}

small {
    font-size: 12px;
    color: var(--color-gray2);
}


.container {
    background-color: var(--color-background);
    width: 100%;
    height: 100vh;
    padding: 28px;
}

.btn_primary {
    padding: 8px 24px;
    background: var(--color-primary);
    border-radius: var(--border-radius-btn);
    color: var(--color-white);
    display: flex;
    align-items: center;
    gap: 7px;
    font-size: 14px;
    font-weight: 700;
    box-shadow: var(--box-shadow);
    transition: all 400ms ease;
    cursor: pointer;
}

.btn_primary:hover {
    box-shadow: none;
    background: var(--color-primary-hover);
}

.btn_primary.salvar {
    text-align: right;
}

.btn_danger {
    padding: 8px 24px;
    background: var(--color-danger);
    border-radius: var(--border-radius-btn);
    color: var(--color-white);
    display: flex;
    align-items: center;
    gap: 7px;
    font-size: 14px;
    font-weight: 700;
    box-shadow: var(--box-shadow);
    transition: all 400ms ease;
    cursor: pointer;
}

.btn_danger:hover {
    box-shadow: none;
    background: var(--color-danger-hover);
}

button .icon {
    font-size: 20px;
}

.container.principal {
    display: grid;
    grid-template-columns: 14rem auto;
    gap: 21px;
}

hr {
    border: 0.2px solid var(--color-gray3);
    margin: 10px 0 20px 0;
}

form {
    margin: auto;
    display: flex;

    flex-wrap: wrap;
    gap: 24px;
    max-width: 100%;
}

label,
legend {
    color: var(--color-primary);
    font-size: 14px;
    font-weight: 500;

}

legend {
    margin-bottom: 8px;
}

input,
select,
textarea {
    display: block;
    border: 1px solid var(--color-gray-border);
    border-radius: var(--border-radius-input);
    background-color: var(--color-white);
    padding: 8px;
    resize: none;
    transition: .4s ease;
}

input:disabled {
    background-color: var(--color-gray3);
    color: var(--color-gray2);
}

input:focus,
textarea:focus,
select:focus {
    border: 1px solid var(--color-primary);
    box-shadow: 0 var(--box-shadow-input);
}


input:checked {
    background-color: var(--color-primary);
}

fieldset {
    margin-top: none;
}

.controle_destaque {
    display: flex;
    gap: 8px;
    align-items: center;
}

/* ==============================================================================================
MENU LATERAL
===============================================================================================*/

.menubar {
    max-width: 100%;
    height: 100%;
    background-color: var(--color-white);
    padding: 7px;
    border-radius: var(--card-border-radius);
    box-shadow: var(--box-shadow);
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}


.logo {
    text-align: center;
    margin-bottom: 10px;
    padding: 7px;
}

.item_menu {
    display: flex;
    align-items: center;
    background-color: none;
    gap: 14px;
    padding: 14px;
    color: var(--color-dark);
    border-radius: var(--border-radius-btn);
    transition: .4s ease;
}

.item_menu:hover {
    background: var(--color-primary);
    color: var(--color-white);
}

.item_menu.ativo {
    color: var(--color-primary);
}

.item_menu.ativo:hover {
    color: var(--color-white);
}

.avatar-user {
    display: flex;
    width: 100%;
    gap: 14px;
    align-items: center;
    margin-bottom: 24px;
    padding: 0 14px;

}

.avatar-user .avatar {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: 2px solid var(--color-primary);
    object-fit: cover;
}



.btn_logout {
    background: var(--color-primary);
    color: var(--color-white);
    display: flex;
    align-items: center;
    padding: 20px 21px;
    gap: 14px;
    margin: -7px;
    border-radius: 0 0 8px 8px;
    cursor: pointer;
    width: 14rem;
}

/* ==============================================================================================
Mensagens Error e success
===============================================================================================*/
.alert__message.error {
    display: flex;
    align-items: center;
    background-color: var(--color-danger);
    padding: 20px;
    padding-bottom: 20px;
    height: 20px;
    width: 100%;
    color: var(--color-white);
    border-radius: var(--border-radius-input);
    margin-bottom: 20px;
    font-size: 14px;
    font-weight: 400;

}

.alert__message.success {
    display: flex;
    align-items: center;
    background-color: var(--color-success);
    padding: 20px;
    padding-bottom: 20px;
    height: 20px;
    width: 100%;
    color: var(--color-white);
    border-radius: var(--border-radius-input);
    margin-bottom: 20px;
    font-size: 14px;
    font-weight: 400;

}


/* ==============================================================================================
PRINCIPAL
===============================================================================================*/

.dashboard {
    padding: var(--card-padding);
    background-color: var(--color-white);
    border-radius: var(--card-border-radius);
    box-shadow: var(--box-shadow);
    overflow: auto;
}

.controles {
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
}

.input-busca {
    display: flex;
    align-items: center;
    border: 1px solid var(--color-gray3);
    border-radius: var(--border-radius-input);
    width: 270px;
    padding: 7px;
    background-color: var(--color-white);
}

.input-busca input {
    width: 100vh;
    background: none;
}

/* ==============================================================================================
TABELA
===============================================================================================*/
table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid var(--color-gray1);
    border-radius: 50%;

}


thead tr {
    background-color: var(--color-gray1);

}

thead th {
    padding: 16px 32px;
    font: 14px;
    font-weight: 500;
}

tbody tr td {
    transition: .4s ease;
}

tbody tr:hover td {
    background-color: var(--color-gray3);
}

.foto_produto_table {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 2px solid var(--color-primary);
    object-fit: cover;
}

tbody tr td {
    height: 3.5rem;
    border-bottom: 1px solid var(--color-gray1);
    text-align: center;
    color: var(--color-gray2);
}

.table_btn {
    right: 0;
}

/* ==============================================================================================
Formulário cadastro produtos
===============================================================================================*/
.btn_salvar {
    text-align: right;
    margin-top: 30px;
}

.btn_primary.salvar {
    right: 0px;
}

input.id {
    width: 60px;
}


/* ==============================================================================================
LOGIN
===============================================================================================*/

.container.login {
    display: grid;
    grid-template-columns: 50% 50%;
    background-color: var(--color-dark);
    padding: 0;
    overflow: hidden;
}

.image_login {
    max-width: 100%;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.image_login img {
    max-width: 100%;
    transform-origin: center;
    object-fit: cover;
    height: 100vh;
}

.login {
    margin: auto;
}